.ireland-map-container {
    position: relative;
    width: 50px; /* Set to the width of your SVG */
    height: 150px; /* Set to the height of your SVG */
}

.county-overlay {
    position: absolute;
    background: transparent;
    border: none; /* Or set to 'none' if you don't want them visible */
    cursor: pointer;
}
