.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff; /* Consider adding if your form's background is different from the page */
}

.reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.reset-password-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.reset-password-form button {
    background-color: #4a90e2; /* Blue background */
    color: white; /* White text */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    box-sizing: border-box;
    margin-top: 20px; /* Ensure there is space above the button */
}

.reset-password-form button:hover {
    background-color: #357abd; /* Darker shade of blue on hover */
}

p {
    margin: 0; /* Remove default margin for better spacing */
}

.return-login-button {
    background-color: #4a90e2; /* Blue background */
    color: white; /* White text */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    box-sizing: border-box;
    margin-top: -10px; /* Space above the button */
    width: calc(100% - 20px); /* Adjust width to match the form inputs, accounting for padding */
    max-width: 360px; /* Match max-width of form for consistency */
}

.return-login-button:hover {
    background-color: #357abd; /* Darker shade of blue on hover */
}


.error-message {
    color: red;
    margin-top: 10px;
}
