/* TODO:
 1. Change styling to match the design of the login page
*/

body {
    font-family: Arial, sans-serif;
}
h1 {
    color: #4a90e2; /* A shade of blue for the header */
    text-align: center;
}
#loginButton {
    background-color: #00BCD4; /* Cyan blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}
#loginButton:hover {
    background-color: #0097A7; /* Darker shade for hover effect */
}

h2 {
    color: #4a90e2; /* Blue text for the header */
}

.about-header {
    margin: 20px 0;
}


.about-container {
    max-width: 800px; /* Adjust as needed */
    margin: auto; /* Center the container */
    padding: 20px; /* Add padding around the container */
}

.about-segment p {
    margin-bottom: 20px; /* Paragraph spacing */
    align-items: justify;
}

